.gallery-container {
	display: flex;
	flex-direction: row;
	padding-left: 2rem;
}

.gallery-img {
	height: 75vh;
	width: 30vw;
	transition: 0.1s;
}

.gallery-img:hover {
	transform: scale(1.1);
}

.gallery-video {
	object-fit: cover;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 950px) {
	.gallery-img {
		padding-right: 8%;
		width: 100%;
		object-fit: cover;
	}

	.gallery-container {
		display: flex;
		flex-direction: row;
	}
}
